doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title
    link(href='lib/ionic/css/ionic.css', rel='stylesheet')
    // inject:css
    // endinject

    // ionic/angularjs js
    script(src='lib/ionic/js/ionic.bundle.js')

    // cordova script (this will be a 404 during development)
    script(src='cordova.js')

    script(src='js/app.js')
    // inject:js
    // endinject
    script(src='js/routes.js')
  body(ng-app='starter')
    ion-nav-view